@import './colors.scss';
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.vertical-align {
  display: flex;
  align-items: center;
}

.small-caps {
  font-variant-caps: small-caps;
  font-weight: bolder;
}

button {
  background-color: $clr-darkblue;
  color: white;
  height: 35px;
  font-size: 1.4em;
}

//span div with list
@mixin horizontal-list-span-width {
  margin: 0;
  padding: 0;
  list-style-type: none;

  text-align: justify;

  &:after {
    content: '';
    width: 100%;
    display: inline-block;
  }
  & > li {
    display: inline-block;
  }
}

.items {
  @include horizontal-list-span-width;
}

#contact-button, #search-button, #address-input {
  border-radius: 0;
}

//Containers
#header {
  padding-bottom: .5em;

  ul {
    margin-bottom: 0px;
  }
  
  .logo {
    padding-right: 30em;
  }


  .contact {
    font-size: 10px;
    padding-right: 2em;

    .svg {
      fill: $clr-lightblue;
    }
  }

  .services {
    font-size: 16px;
    font-variant-caps: small-caps;
    font-weight: bold;
  }

  .contact-column {
    padding-right: 4em;
  }
}

#search {
  background-color: lightgrey;
  color: white;
  height: 45px; 

  .form-group {
    width: 21.7em;
    padding: 0;
    
    input {
      width: 100%;
      height: 35px;
    }
  }

  button {
    float: right;
    width: 11em;
  }

  ul{
    padding-left: 8em;
  }

  li {
    font-size: 1.7em;
    font-variant-caps: small-caps;
    font-weight: bold;
    text-decoration: underline;
    padding-right: 2em;
  }

  //medium screen
  @media (max-width: 992px) {
    button {
      width: 35%;
    }
    .form-col {
      width: 43%
    }
  }

  //small screen
  @media (max-width: 840px) {
    li {
      padding-right: 1em;
    }
  }

  //extra small screen
  @media (max-width: 767px) {
    .form-col {
      width: 100%;

      .form-group {
        margin-bottom: 0;
      }

      .svg {
        fill: white;
      }

      button {
        width: 20%;
      }
    }

  }
}

#realtor {
  background-color: $clr-lightgrey;

  .realtor-img  {
    width: 21.5em;
  }

  button {
     width: 100%;
     margin-bottom: 1.5em;
  }

  .social-container {
    width: 100%;
    
    .svg {
      fill: $clr-blackgrey;
    }
  }

  p {
    font-size: 85%;
    color: $clr-darkgrey;
  }

  .personal-info{
    color: $clr-lightblue;
    list-style: none;
    font-size: 1.2em;

    li {
      padding-bottom: 1.2em;
      display: flex;
      align-items: center;
    }

    .svg {
      margin-right: .6em;
      fill: $clr-lightblue;
    }

    .phone {
      color: $clr-blackgrey;
      padding-left: 1em;
    }
  }

}

#about {
  font-family: 'Open Sans', sans-serif;

  ul {
    margin-left: 0px;
    margin-right: 0px;
    .active {
      color: $clr-darkblue !important;
      border-bottom: 1px solid $clr-darkblue;
    }
  }

  li {  
    font-size: 1.5em;
    border-bottom: 1px solid $clr-darkgrey;
    padding-bottom: .4em;
    color: $clr-darkgrey;
  }

  p {
    font-size: 1.4em;
    line-height: 1.7em;
  }

  .accolades {
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    font-variant-caps: small-caps;
    font-weight: bold;
    margin-bottom: 1px;
  }

  .info {
    font-size: 85%;
    color: $clr-darkgrey;
  }

  .list-container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.footer {
  padding-top: 19px;
  color:white;
  background-color: $clr-lightblue;
  
  p, ul {
    margin-bottom: 3px;
  }

  .social {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .svg {
    fill: white;
  }
}


